body {
  background-image: url(../img/Overwatch_logo.png);
  background-attachment: fixed;
  background-size: 100%;
  background-position: center;
}

.Alpha img {
  width: 15%;
}

h3 {
  color: #f4a742;
}

.Troma img {
  width: 15%;
}

.Krapo img {
  width: 15%;
}
